# Build results
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folder
.vs/

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Other
*.dbmdl
*.jfm
